<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css/MojoShare.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    {% endblock %}
</head>
<body>
    {% block body %}
        {% include 'header.html' %}
        {% block body_without_container %}
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    {% endblock %}
    {% block scripts %}
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/spin.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.spin.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/bootstrap.min.js') }}"></script>

        <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/header.js') }}" type="text/javascript"></script>
    {% endblock %}
</body>
</html>