{% macro make_link(text, route) %}
    {% set href = url_for(route, *varargs, **kwargs) %}
    <li{% if href == url() %} class="active"{% endif %}><a href="{{ href }}">{{ text }}</a></li>
{% endmacro %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MusicDB</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                {{ make_link("Main page", "index") }}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not 'user' in g %}
                    <li><div class="MojoShare"><a id="login_button" class="VK share minimalism">Sign in with VK</a></div></li>
                {% else %}
                    <li>
                        <img src="{{ g.user['photo'] }}" class="avatar">
                        <span class="user-name">{{ g.user['first_name'] }} {{ g.user['last_name'] }}</span>
                    </li>
                    <li><a class="signout-btn" href="#">Sign out</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>