{% extends 'base.html' %}
{% block title %}MusicDB{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block content %}
    <!--<div id="login_button" onclick="VK.Auth.login(authInfo, 8);"></div>-->
    <div class="container categories">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger alert-dismissable col-lg-12">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Error!</strong> {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% for row in categories | divide(4) %}
            <div class="row">
                {% for category in row %}
                    <div class="col-lg-3">
                        <a href="{{ url_for('tracks_html', category_name=category.name) }}"><img src="{{ url_for('category_image', name=category.name) }}"></a>
                        <div class="category-name">{{ category.name }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}