{% extends 'base.html' %}
{% block title %}{{ category.name }}{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tracks.css') }}">
{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>{{ category.name }} <small>{{ category.description }}</small>
            <div id="add-track-btn" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addTrackDialog"><span class="glyphicon glyphicon-plus"></span></div>
        </h1>
    </div>

    <div class="list-group col-lg-8 col-lg-offset-2" id="track-list">
    </div>

    <div class="modal fade" id="addTrackDialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add track</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="add-track-form">
                        <fieldset>
                            <div class="form-group">
                                <label for="add-track-artist" class="control-label col-lg-2">Artist</label>
                                <div class="col-lg-10">
                                    <input id="add-track-artist" type="text" class="form-control" placeholder="Roxette">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="add-track-name" class="control-label col-lg-2">Name</label>
                                <div class="col-lg-10">
                                    <input id="add-track-name" type="text" class="form-control" placeholder="Sitting On The Top Of The World">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success">Add</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
    <script type="text/javascript">
        var category_name = '{{ category.name }}';
        var api_token = '{{ csrf_token() }}';
    </script>
    <script src="{{ url_for('static', filename='js/tracks.js') }}" type="text/javascript"></script>
{% endblock %}