.avatar {
    float: left;
    margin-right: -5px;
    padding-top: 10px;
    width: 40px;
}
.user-name {
    float: left;
    padding: 19px 15px;
    color: #fff;
}
.navbar-right {
    margin-right: 0 !important;
}