.categories img {
    width: 100%;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}
.categories .row:not(:first-of-type) {
    margin-top: 15px;
}
.category-name {
    width: 100%;
    margin-top: 8px;
    text-align: center;
}